# requirements.txt
# Dependencies untuk Flask Backend

# Flask dan ekstensi
Flask==3.0.0
Flask-CORS==4.0.0
Werkzeug==3.0.1

# TensorFlow dan Keras untuk model CNN
# Untuk CPU only:
tensorflow==2.21.0
# Untuk GPU (alternatif):
# tensorflow-gpu==2.21.0
tensorflow-model-optimization==0.8.1

# Image Processing
Pillow==10.1.0

# NumPy untuk operasi array
numpy==1.24.3

# Gunicorn untuk production server (opsional)
gunicorn==26.0.0
