@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles tambahan */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8fafc;
}
